{% extends 'base.html.twig' %}

{% block main %}
    <h1>login form</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Login!</button>
    {{ form_end(form) }}
{% endblock %}